$purple: #bc99de
$deep_purple: #a180c1
$grey: #b7b7b7
$light_grey: #e5e5e5
$white: #fff
$red: #e18484
$radius: 5px
$border-width: 2px

$border-grey: solid $border-width $grey
$border-purple: solid $border-width $purple

#select
  width: 300px

  #input
    position: relative

    input
      border-radius: $radius
      width: available
      width: -webkit-fill-available
      width: -moz-available
      font-size: 1em
      border: $border-grey
      -webkit-transition: 0.5s
      transition: 0.5s
      &::placeholder
        color: $grey
      &:hover
        border-color: $purple
        cursor: pointer
      &:focus
        border-color: $purple
        outline: none
        cursor: initial
      &.disabled
        background: url("../../assets/icons/sort-down.svg") no-repeat right 15px bottom 60%
        background-size: 9px
        padding: 15px 30px 15px 15px
      &.active
        border-color: $purple
        background: url("../../assets/icons/search.png") no-repeat left 17px bottom 50%
        background-size: 13px
        padding: 15px 30px 15px 42px
        border-bottom: solid 1px $light_grey
        border-bottom-right-radius: 0
        border-bottom-left-radius: 0

    button
      background: url("../../assets/icons/times.png") no-repeat center
      background-size: 10px
      height: 40px
      width: 40px
      position: absolute
      top: 5px
      right: 0
      border: none
      cursor: pointer

    .error
      color: $red
      border-color: $red
      font-size: 0.9em

  .districts
    overflow: auto
    height: 190px
    border: $border-purple
    border-top: none
    border-bottom-left-radius: $radius
    border-bottom-right-radius: $radius
    &::-webkit-scrollbar
      width: 11px
      margin-right: 3px
      &-thumb
        background-color: #cdc0d9
        border: solid 3px $white
        border-radius: 5px
        &:hover
          background: $deep_purple
          cursor: pointer !important

    &-selected
      padding: 12px
      border-bottom: dashed 1px $light_grey
      label
        background: $purple url("../../assets/icons/times-white.png") no-repeat right 7px bottom 50%
        background-size: 7px
        color: white
        margin: 2px
        padding: 5px 20px 5px 5px
        font-size: 0.8em
        line-height: 2.2em
        border-radius: 3px
        &:hover
          background-color: $deep_purple
          cursor: pointer

    &-list
      padding: 0 15px
      .district
        display: flex
        margin-bottom: 15px
        &:first-of-type
          margin-top: 15px
        input
          width: fit-content
          position: absolute
          z-index: -1
          opacity: 0
          &+label
            display: inline-flex
            align-items: center
            &::before
              content: ""
              width: 0.7em
              height: 0.7em
              border: 1px solid $grey
              border-radius: 0.2em
              margin-right: 13px
          &:hover+label::before
            border-color: $purple
          &:checked+label::before
            border-color: $purple
            background: url("../../assets/icons/check.png") no-repeat center $purple
            background-size: 7px
          &:disabled+label
            color: $grey
            &::before
              border-color: $grey
              background: $grey
        label
          &:hover
            cursor: pointer
          & .found
            color: $grey
            & b
              font-weight: normal
              color: black
